body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

.heading {
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    padding: 20px;
    color: aliceblue;
    background-color: #EC8F5E;
}

.heading-primary {
    background-color: #F1EB90;
    padding: 20px;
}

.table-1 {
    width: 100%;
}

.table-1 th {
    padding: 20px;
    border: 1px solid;
    font-size: 22px;
    background-color: #F3B664; 
}

table th a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

table th:hover {
    background-color: #EC8F5E;
    cursor: pointer;
}

table th a:hover {
    color: #F1EB90;
}

.table-2 {
    width: 50%;
}

.table-2 th {
    background-color: #F3B664;
    padding: 20px;
    font-size: 20px;
    border: 1px solid;
}

h3 {
    font-size: 20px;
    text-align: center;
    background-color: #F1EB90;
    padding: 20px;  
}

.content {
    background-color: #F1EB90;
    padding: 20px;
    margin: 10px;
}

.images {
    text-align: center;
}

.images img{
    width: 25%;
    height: 250px;
}

.content p {
    font-size: 20px;
    line-height: 1.2;
}

.letter {
    font-size: 50px;
    font-weight: 900;
}

#heading-about {
    font-size: 40px;
    text-align: left;
}

.heading-secondary {
    font-size: 32px;
}

.social-media a{
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(52, 52, 86);
    text-decoration: none;
    padding: 20px;
}

.social-media a:hover {
    color: blue;
    text-decoration: underline;
}